
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcwyIN1mjPTxOzZFvVJDWdPhJkXqwjTOE</string>
	<key>GCM_SENDER_ID</key>
	<string>633874793812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sadia.fitnessApp</string>
	<key>PROJECT_ID</key>
	<string>fitness-c6ae5</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-c6ae5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633874793812:ios:b47bdc88e5a9beb1dcf4c1</string>
</dict>
</plist>